DATABASE_URL="postgresql://<neon_user>:<neon_password>@<your-neon-pooler-host>/<database>?sslmode=require&channel_binding=require"
# For Neon, if the direct connection string gives auth issues, you can
# temporarily use the same pooled connection string here as well.
DIRECT_DATABASE_URL="postgresql://<neon_user>:<neon_password>@<your-neon-direct-host>/<database>?sslmode=require&channel_binding=require"

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""

# This project currently uses an unsigned Cloudinary upload preset named "school".
